@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f7f8f9;
}

.private-layout-height {
  height: calc(100vh - 96px);
}

#char-input {
  width: 90px;
  height: 92px;
  text-align: center;
  flex-direction: column;
  gap: 0;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 4rem;
}
#char-input:focus {
  border: 2px solid black;
}
