@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'Onset';
  src: url('./assets/fonts/static/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Onset-Bold';
  src: url('./assets/fonts/static/Onest-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f7f8f9;
  overflow: hidden;
}

.private-layout-height {
  height: calc(100vh - 96px);
}

#char-input {
  width: 90px;
  height: 92px;
  text-align: center;
  flex-direction: column;
  gap: 0;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 4rem;
}
#char-input:focus {
  border: 2px solid black;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


/*custom dropdown color delete*/
#deleteOption{
  color: #fc0606;
}
